:root {
    /* Primary Colors */
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    /* Neutral Colors */
    --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    /* Fonts */
    --Outfit: 'Outfit', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

image {
    max-width: 100%;
}

body {
    background-color: var(--Very-dark-blue-main-BG);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

footer {
    width: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding-top: 2.5em;
    padding-inline: 1rem
}

.card {
    background-color: var(--Very-dark-blue-card-BG);
    margin: auto;
    width: min(100%, 21.85rem);    
    padding: 1.5em;
    border-radius: 1rem;
}

.card__img {
    width: 100%;
    position: relative;
    cursor: pointer;
    display: grid;
    place-content: center;
}

.card__img * {
    border-radius: 1rem;
}

.card__img img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

.card__img .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: hsla(178deg, 100%, 50%, 0.5);
    opacity: 0;
    display: grid;
    place-content: center;
    transition: opacity 200ms ease-in-out;
}

.card__img .overlay img {
    width: 3rem;
    height: 2rem;
}

.card__img .overlay:hover {
    opacity: 1;
}

.card__body {
    margin: 0 auto;
    font-family: var(--Outfit);
}

.card__text--title {
    color: var(--White);
    font-size: 1.5rem;
}

.card__text--p {
    color: var(--Soft-blue);
}

.card__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.45rem;
}

.card__icons--1 {
    display: flex;
    align-items: center;
    gap: 0.45rem;
    color: var(--Cyan);
}

.card__icons--2 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--Soft-blue);
}

/* .icon {
    padding-right: 1em;
} */

.blue-line {
    opacity: 0.4;
}

.card__profile {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--White);
}

.card__profile--img {
    width: 2rem;
    border-radius: 50%;
    border: 1px solid var(--White);
}

/* .card__profile--text {
    letter-spacing: 0.01rem;
} */

.color-variation {
    color: var(--Soft-blue);
}

.attribution {
    width: 100%;
    margin-top: 2rem;
    font-size: 1rem;
    text-align: center;
    color: var(--White);
}

.attribution a {
    text-decoration: none;
    color: var(--White);

}

.attribution a:hover {
    color: var(--Very-dark-blue-main-BG);
}

.attribution a:visited {
    color: var(--Soft-blue);
}

@media (min-width: 650px) {

    .container {
        max-width: 600px;
    }

    /* .card {
        
    } */

}